<?xml version='1.0' encoding='utf-8'?>
<widget id="com.quiz.app"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Quiz App</name>
    <description>Jeu Quiz Offline</description>
    <author email="you@example.com">
        Dev Quiz
    </author>

    <!-- Fichye prensipal -->
    <content src="quiz.html" />

    <!-- Fullscreen -->
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidXEnabled" value="true" />

    <!-- Ikon (opsyonèl) -->
    <icon src="icon.png" />

    <!-- Splash (opsyonèl) -->
    <splash src="splash.png" />

    <!-- Permissions offline -->
    <allow-navigation href="*" />
</widget>
