<?xml version="1.0" encoding="utf-8" ?>      
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" android:versionCode="1" android:versionName="1.0" package="com.ns4.quiz" platformBuildVersionCode="33" platformBuildVersionName="13">      

	<!-- Internet for Firebase -->
	<uses-permission android:name="android.permission.INTERNET" />      

	<!-- Allow network state check (Firebase sometimes uses it) -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />      

	<permission android:name="com.ns4.quiz.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature" />      
	<uses-permission android:name="com.ns4.quiz.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />      

	<application 
		android:appComponentFactory="androidx.core.app.CoreComponentFactory" 
		android:debuggable="true" 
		android:extractNativeLibs="true" 
		android:label="NS4 Support Plus" 
		android:theme="@style/Theme.AppCompat.Light.NoActionBar"
		android:usesCleartextTraffic="true">

		<activity android:exported="true" android:name="com.ns4.quiz.MainActivity">      
			<intent-filter>      
				<action android:name="android.intent.action.MAIN" />      
				<category android:name="android.intent.category.LAUNCHER" />      
			</intent-filter>      
		</activity>      

		<provider android:authorities="com.ns4.quiz.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">      
			<meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup" />      
			<meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup" />      
		</provider>      

	</application>      

</manifest>